html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }

  html.dark{
    background-color: #1A4B7F;
    color: #fff;
  }

  .page-title{
    color:#1A4B7F;
}

.dark .page-title{
  color:pink;
}
  .dark .nav-links a{
    color: pink;
  }
  .dark .nav-links a:hover{
    color: #f1f5f9;
  }

  .dark .social{
    background-color: pink;
    color:#1A4B7F;
    transition: background-color .25s;
  }

  .dark .social:hover{
    background-color: white;
    transition: background-color .25s;
  }

  .social:hover{
    background-color: #f1f5f9;
    transition: background-color .25s;
    color:#1A4B7F;
  }
  .social{
    transition: background-color .25s;
  }
  .dark .link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient-dark);
    
	}
  .dark .link-card:is(:hover, :focus-within) >a {
		background-color: rgba(255,255,255,.8);
    
	}

  
  .dark .link-card{
    background-color: rgba(255,255,255,.8);
  }

  
  .dark .link-card > a{
    background-color: rgba(255,255,255,0);
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #1A4B7F;
  }

  .dark h1{
    color: white;
  }

  /* nav styles */
  .hamburger{
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color:#1A4B7F;
  }
  .dark .hamburger .line{
    background-color:#f1f5f9;
  }

  .nav-links{
    width: 100%;
    top: 5rem;
    display: none;
    margin: 0;
  }

  .nav-links a{
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: 'uppercase';
    color: #1A4B7F;
    transition: color .25s;
  }
.nav-links a:hover, a:focus{
    color: #fff;
    transition: color .25s;
}

.expanded{
    display: unset;
}

@media screen and (min-width: 636px){
    .nav-links{
        display:inline-block;
        position: static;
        width: auto;
        background: none;
        vertical-align:super;
    }

    .nav-links a{
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger{
        display: none;;
    }
}
