/* type selectors */
:root {
  --accent: #1A4B7F;
  --accent-gradient: linear-gradient(45deg, var(--accent), #9BCDF0 30%, rgba(255,255,255,.6) 60%);
  --accent-gradient-dark: linear-gradient(45deg, #E4B4D2 10%, #9BCDF0 30%, rgba(255,255,255,.6) 60%);
  --accent-pink: #E4B4D2;
  --accent-white: #efefef;
}

* {
  box-sizing: border-box;
}

html.dark{
  background-color: #1A4B7F;
}
  html {
    font-family: system-ui, sans-serif;
		background-color: var(--accent-pink);
  }

  code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

  body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
  }

  main {
		margin: auto;
		max-width: 100ch;
	}
  
  h1 {
    margin: 1rem 0;
    font-size: 3rem;
    color: #1A4B7F;
    font-weight: 800;
  }

  .dark h1{
    color: white;
  }

  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-text-fill-color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		background-size: 400%;
		background-position: 0%;}

  .page-title{
    color:#1A4B7F;
  }

  .dark .page-title{
  color:pink;
  }

  .dark .social{
    background-color: pink;
    color:#1A4B7F;
    transition: background-color .25s;
  }

  .dark .social:hover{
    background-color: white;
    transition: background-color .25s;
  }

  .social:hover{
    background-color: #f1f5f9;
    transition: background-color .25s;
    color:#1A4B7F;
  }
  .social{
    transition: background-color .25s;
  }
  .dark .link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient-dark);
    
	}
  .dark .link-card:is(:hover, :focus-within) >a {
		background-color: rgba(255,255,255,.8);
    
	}

  .dark .link-card{
    background-color: rgba(255,255,255,.8);
  }
.dark .about{
  color: rgba(255,255,255,.8);
}
.about {
  color:#1A4B7F;
  width: 60ch;
}
  
  .dark .link-card > a{
    background-color: rgba(255,255,255,0);
  }
  

  /* nav styles */
  .hamburger{
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color:#1A4B7F;
  }
  .dark .hamburger .line{
    background-color:#f1f5f9;
  }

  .nav-links{
    width: 100%;
    top: 5rem;
    display: none;
    margin: 0;
  }

  .nav-links a{
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: 'uppercase';
    color: #1A4B7F;
    transition: color .25s;
  }
.nav-links a:hover, a:focus{
    color: var(--accent-white);
    transition: color .25s;
}
.dark .nav-links a{
  color: pink;
}
.dark .nav-links a:hover, a:focus{
  color: #f1f5f9;
}
.expanded{
    display: unset;
}
/* desktop only */
@media screen and (min-width: 636px){
    .nav-links{
        display:inline-block;
        position: static;
        width: auto;
        background: none;
        vertical-align:super;
    }

    .nav-links a{
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger{
        display: none;;
    }
}
