---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";


---

<BaseLayout pageTitle={pageTitle}>
	<main>
        <h2>Art for the soul</h2>

	</main>
</Layout>

<style >
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h2{color: var(--accent-white)}
	
</style>
