---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";


---

<BaseLayout pageTitle={pageTitle}>
	<main>
        <h2 class="about">Art for the soul</h2>
		<p class="about">Daisy Fumes is an artist currently part of the IMA/ITP crew at NYU. The art is intended to be a vessel of love, self confidence, forgiveness, and fun.</p>
		<p class="about">With explorations in all things making, Daisy Fumes is particulary practiced in illustration, computational art, and experience design.</p>
		<p class="about">Currently the hope is to create more installation scale experiences that help humans love themselves and others a little bit more. <3</p>
	</main>
</Layout>

<style >
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60vw;
		color: var(--accent-white)
	}
	
</style>
