---
import Card from './Card.astro'
const {url, title, body, img} = Astro.props;
---
<div class="card-container">
    <Card title={title} href={url} img={img} body={body} />
</div>
<style>
    .card-container{
        margin: 10px 0;
    }


</style>