---
const{ platform, username } = Astro.props;
---

<a class="social" target="blank" href={`https://${platform}.com/${username}`}>{platform}</a>

<style>
    a{
        padding: 0.5rem 1rem;
        color: white;
        background-color: #1A4B7F;
        text-decoration: none;
    }   
</style>